{% extends 'AdminBundle::clean.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/user/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}


<form class="form-signin" action="{{ path('admin_login_check') }}" method="post">
    {% if error %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error.message }}
        </div>
    {% endif %}
    <h2 class="form-signin-heading">{% trans %}Login{% endtrans %}</h2>
    <input type="text" id="username" name="_username" value="{{ last_username }}"  class="input-block-level" placeholder="{% trans %}Username{% endtrans %}" />

    <input type="password" id="password" name="_password"  class="input-block-level" placeholder="{% trans %}Password{% endtrans %}" />

    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button class="btn btn-large btn-primary" type="submit">{% trans %}Login{% endtrans %}</button>
</form>
{% endblock content %}